
/* All Data Start */
 *{ padding-left: 3px; }

 .center{ text-align: center; }
 .subject{
    margin-bottom: 20px;
 }


/* All Data End */


/* Blog Website  Start */
 .b-i-1{
   width: 400px;
   height: 250px;
 }

 footer{
   text-align: center;
 }
 
/* Blog Website  End */


/*  Div Start */

/*  Div End */